###> carloshmarques/CSharp-Fundamentals-for-Absolute-Beginners ###

##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/

# IDE's
.vscode/
.idea/
.vs/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< carloshmarques/CSharp-Fundamentals-for-Absolute-Beginners ###
